body{
    margin: 0px;
    font-family: 'Sofia', sans-serif;
  
}
.top-banner{
    width: 100%;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position-y: bottom;
 
}
.Name-highlight{
    color: crimson;
    font-weight: bold;
    font-size: 30px;

}
.half-width{
    width: 40%;
    margin-left: 3%;
    padding-left: 2%;
    float: left;
    height: 80%;
    margin-top: 30px;
  
}
.half-width img{
    width: 70%;
    height: 80%;
 margin: 0px;
}
section{
    height: 500px;
}
.Profile-Link-Button{
   text-decoration: none; 
   color: whitesmoke;
   background-image: linear-gradient(180deg,hotpink,rgb(226, 98, 147));
        
   padding: 10px 20px;
   border-radius: 5px;
   margin-top: 30px;
}
.biography{
    background: url(images/biography-bg.png);
    background-position: bottom;
}
.para
{
    margin-bottom: 50px;
}
.first-left{
    margin-top: 93px;
}
.Second-right{
    margin-top: 93px;
    padding: 0px;
    margin-left: 0px;
    
}
.Work-heading{
    text-align: center;
}
    .my-work{
        height: 300px;
        width: 100%;
 
    }
    .my-work img{
        width: 28%;
        height: 100%;
        float: left;
      margin-left: 4%;
    }
    .footer{
        text-align: center;
        margin-top: 200px;
       
  
    }
    .footer-heading{
        font-weight: bolder;
    }
    .footer-content{
        max-width: 24%;
     
        margin-left: 38%;
        font-size: 21px;
    }
    .client-title{
        font-weight: 100;
        font-size: 15px;

    }
    .contact-us{
        text-decoration: none; 
        color: whitesmoke;  

    }
    .contact-link-button{
       background-image: linear-gradient(180deg,hotpink,rgb(226, 98, 147));
        
        border-style: none;
        border-radius: 5px;
        padding: 10px 134px;
    }
    footer{
        text-align: center;
    }
    .my-work{
        background-image: url(images/latest-work-bg.png);
    }
    .footer{
        background-image: url(images/footer-bg.png);
    }